  .caja:last-of-type {
    border-bottom: 0;
  }
  
  .caja p {
    margin: 0;
  }
  
  .caja button {
    margin-top: 1rem !important;
  }
  
  .caja span {
    font-weight: bold;
  }
  .caja {
    padding: 2rem;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    color: black;
    margin-bottom: 20px;
}
  div {
    display: block;
    unicode-bidi: isolate;
}