form, .tit {
    color:white;
}

.enviar, .enviar:hover{

   
      background-color: #3087d8;
      color: rgb(35, 221, 206);
      margin-top: 2rem;
    
    
}

input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

