

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  max-width: 450px; 
  margin: 0 auto; /* Centra horizontal */
  padding: 20px;
}

.formulario input,
.formulario button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.formulario button {
  background-color: skyblue;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.formulario button:hover {
  background-color: lightblue;
}
